/* all pages */

body {
  color: #949494; /* informatie bij schoen */
  background-color: black; /* site kleur */
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
  
}

footer {
  margin: 20px;
  font-size: 12px;

} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
  background-color: #dfddc8;
}

.article-container {
  margin: auto;
}

.card {
  width:200px; 
  height: 500px; 
  margin-bottom: 20px;
  background-color: #000000;
}

.card-header {
  height: 5em;
  font-style: monospace;
  font-size: 25px;
}

.card-text {
  min-height:10em
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: oblique;
}

.product img {
  margin: auto;
  margin-top: 200px;
}

.product > .card-header {
  height:3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

nav ul li {
    float: left;
    position: relative; left: 380px;
    text-align: center;
    padding: 14px 16px;
    display: block;
}

nav li a {
    display: block;
    color: rgb(120, 120, 120);
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
}


nav li a.active {
    text-decoration: underline black;
  color: red;
}

.logo {
  position: relative; right: 1150px; top: 10px;
  width: 350px;
  height: 80px;
  
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px"
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

/* extra */